.worker-container {
  padding: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

input,
select,
button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

table th {
  background: #f4f4f4;
}