<aside class="sidebar d-flex flex-column">
  <div class="sidebar-header p-4">
    <h1 class="logo-text m-0">Foodix</h1>
    <p class="admin-text m-0">Admin Dashboard</p>
  </div>

  <hr class="sidebar-divider mx-4 mb-4" />

  <nav class="nav flex-column px-3 gap-2">
    <a
      routerLink="/admin/home"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-grid-1x2-fill"></i>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/admin/categories"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-folder2"></i>
      <span>Categories</span>
    </a>

    <a
      routerLink="/admin/meals"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-egg-fried"></i>
      <span>Meals Menu</span>
    </a>

    <a
      routerLink="/admin/orders"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-clock"></i>
      <span>Live Orders</span>
    </a>

    <a
      routerLink="/admin/workers"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-people"></i>
      <span>Staff/Workers</span>
    </a>

    <a
      routerLink="/admin/complaints"
      routerLinkActive="active"
      class="nav-link d-flex align-items-center gap-3"
    >
      <i class="bi bi-chat-left-text"></i>
      <span>Complaints</span>
    </a>
  </nav>
</aside>
