<!--  Hero -->
<app-navbar></app-navbar>
<div id="background_hero" class="container-fluid d-flex p-5 mx-auto">
  <div class="row align-items-center mx-0 p-0 gap-0 ms-auto align-items-center">
    <div
      class="col-12 col-lg-6 text-center position-relative d-flex justify-content-center align-items-center order-1 order-lg-2"
    >
      <img
        src="./Assets/hero section/text-03.png"
        style="
          position: absolute;
          top: 8%;
          left: 1%;
          width: 150px;
          transform: rotate(-35deg);
          z-index: 1;
        "
      />

      <img
        src="./Assets/hero section/hero-four_img1.png"
        alt="food"
        class="img-fluid rounded-circle"
      />
    </div>

    <div class="col-12 col-lg-6 text-center text-lg-start order-2 order-lg-1 px-5">
      <p class="fs-4 fw-medium text-warning">HOT FOR EVERY SUNDAY</p>
      <h1 style="font-size: clamp(40px, 6vw, 80px)" class="text-light fw-bold">
        Enjoy Our <span style="color: rgb(232, 0, 13)">Delicius</span> Food
      </h1>

      <p class="text-light fs-5" style="font-weight: 500">
        Savor the taste of our delicious, expertly crafted dishes made with the finest ingredients,
        offering a perfect blend of flavors.
      </p>
      <button onclick="window.open('menu.html', '_self')" class="btn1 px-5 py-3">Order Now</button>
    </div>
  </div>
</div>
<!-- ========= Hero ========== -->

<!-- Categories -->
<!-- <section class="bg-light py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bolder fs-1 m-0">OUR CATEGORIES</h2>
      <button type="button" class="bottom_see rounded-3 py-3 px-5 btn btn-outline-danger text-muted fw-bold fs-5"
        onclick="window.open('menu.html', '_self')">
        See More
      </button>
    </div>

    <div class="row g-3" id="categories">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 p-3 category-card" style="background-color: rgb(233, 229, 229)">
          <div class="d-flex align-items-center gap-3 py-3">
            <div class="bg-light rounded-circle p-2">
              <i class="bi bi-egg-fried fs-4 p-0"></i>
              <img src="./img_food/food.png" width="32px" alt="" />
            </div>
            <div>
              <h6 class="fw-bold m-0">Delish Burger</h6>
              <small class="text-muted">25 items</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 p-3 category-card" style="background-color: rgb(233, 229, 229)">
          <div class="d-flex align-items-center gap-3 py-3">
            <div class="bg-light rounded-circle p-2">
              <i class="bi bi-egg-fried fs-4 p-0"></i>
              <img src="./img_food/food2.png" width="32px" alt="" />
            </div>
            <div>
              <h6 class="fw-bold m-0">Sandwiches</h6>
              <small class="text-muted">20 items</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 p-3 category-card" style="background-color: rgb(233, 229, 229)">
          <div class="d-flex align-items-center gap-3 py-3">
            <div class="bg-light rounded-circle p-2">
              <i class="bi bi-egg-fried fs-4 p-0"></i>
              <img src="./img_food/taco.png" width="32px" alt="" />
            </div>
            <div>
              <h6 class="fw-bold m-0">Mexican Cuisine</h6>
              <small class="text-muted">30 items</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card border-0 p-3 category-card" style="background-color: rgb(233, 229, 229)">
          <div class="d-flex align-items-center gap-3 py-3">
            <div class="bg-light rounded-circle p-2">
              <i class="bi bi-egg-fried fs-4 p-0"></i>
              <img src="./img_food/spaghetti.png" width="32px" alt="" />
            </div>
            <div>
              <h6 class="fw-bold m-0">Italian Cuisine</h6>
              <small class="text-muted">19 items</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Categories -->
<section class="bg-light py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bolder fs-1 m-0">OUR CATEGORIES</h2>
      <button
        type="button"
        class="bottom_see rounded-3 py-3 px-5 btn btn-outline-danger text-muted fw-bold fs-5"
        routerLink="/menu"
      >
        See More
      </button>
    </div>

    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let cat of categories">
        <a routerLink="/menu" style="text-decoration: none; color: black">
          <div class="card border-0 p-3 category-card" style="background-color: rgb(233, 229, 229)">
            <div class="d-flex align-items-center gap-3 py-3">
              <div class="bg-white rounded-circle p-2">
                <!-- لو الكاتيجوري عندها image -->
                <img *ngIf="cat.image" [src]="cat.image" width="32px" [alt]="cat.name" />
                <!-- لو مفيش image هيعرض أيقونة default -->
                <i *ngIf="!cat.image" class="bi bi-egg-fried fs-3"></i>
              </div>

              <div>
                <h6 class="fw-bold m-0 text-uppercase">{{ cat.name }}</h6>
                <!-- <small class="text-muted">items</small> -->
                <small class="text-muted">{{ cat.mealsCount }} items</small>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ======== Categories ========= -->

<!-- About -->
<section class="about-section py-5">
  <div class="container">
    <div class="row align-items-center g-5">
      <!-- Image -->
      <div class="col-lg-6">
        <div class="about-img-wrap">
          <img src="./Assets/about section/about-6.png" alt="Fresh Flavorful Food" />
        </div>
      </div>

      <!-- Content -->
      <div class="col-lg-6">
        <!-- Badge -->
        <div class="about-badge">
          <span class="text-warning fw-bolder mb-5"><i class="bi bi-bell-fill"></i> About us</span>
        </div>

        <!-- Title -->
        <div class="text mt-3">
          <h2>DELICIA'S ABOUT FRESH<br />FLAVORFUL DINING</h2>

          <!-- Description -->
          <p class="about-desc">
            We are passionate about serving fresh, flavorful dishes crafted with the finest
            ingredients. Every meal is thoughtfully prepared to deliver a memorable dining
            experience you'll love.
          </p>
        </div>
        <!-- Stat Cards -->
        <div class="stat-cards">
          <div class="stat-card">
            <img src="./Assets/about section/icon-7.svg" alt="" srcset="" />
            <div>
              <div class="stat-num" data-target="1500">1500+</div>
              <div class="stat-label">Total Food Item</div>
            </div>
          </div>
          <div class="stat-card">
            <!-- <span class="stat-icon">🏪</span> -->
            <img src="./Assets/about section/icon-8.svg" alt="" srcset="" />

            <div>
              <div class="stat-num" data-target="500">500+</div>
              <div class="stat-label">Branch office</div>
            </div>
          </div>
        </div>

        <!-- CTA -->
        <button class="btn1 px-5 py-3" routerLink="/menu">Read More</button>
      </div>
    </div>
  </div>
</section>
<!-- ======== About ======== -->

<!--offers-->
<div class="main" style="padding-block: 110px">
  <div class="container text-white align-items-center">
    <div class="row align-items-center justify-content-center m-auto">
      <div
        class="content col-12 col-sm-6 text-center text-sm-start d-flex flex-column align-items-center align-items-sm-start mb-5 mb-sm-0"
      >
        <!-- title -->
        <div class="text">
          <span><i class="bi bi-cash-coin mb-3"></i> Get 25% Discount</span>

          <h2>Today our special Combo offers</h2>
        </div>

        <!-- counter -->
        <div class="counter counter mt-3 d-flex justify-content-center justify-content-sm-start">
          <div class="block">
            <span class="first">0</span>
            <span class="last">day</span>
          </div>

          <div class="block">
            <span class="first">0</span>
            <span class="second">hour</span>
          </div>

          <div class="block">
            <span class="first">0</span>
            <span class="last">minute</span>
          </div>

          <div class="block">
            <span class="first">0</span>
            <span class="last">second</span>
          </div>
        </div>
        <!--counter -->

        <!-- <a href="menu" class="btn">Read More</a> -->
        <button routerLink="/menu" class="btn1 py-3 px-5">Read More</button>
      </div>

      <div class="img col-12 col-sm-6 text-center">
        <img src="Assets/offer section/offer-img1.png" class="burger" />
      </div>
    </div>
    <!--row -->
  </div>
  <img src="Assets/offer section/bn-img-6.png" alt="fries" id="fries" class="d-none d-lg-block" />
</div>
<!-- ====== offers ====== -->

<!-- why choose us -->
<section class="why-section">
  <div class="container">
    <!-- Header -->
    <div class="row">
      <div class="col-12">
        <div class="section-title text-uppercase text-center fadeInDown">
          <span class="text-warning fw-bolder mb-5"
            ><i class="bi bi-bell-fill"></i> Why choose us</span
          >
          <h2 class="mt-3" style="font-size: 50px; font-weight: 900">Why We’re Your Best Choice</h2>
        </div>
      </div>
    </div>

    <!-- Cards -->
    <div class="row g-4">
      <!-- 1. Hygienic Food -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-card">
          <div class="card-icon">
            <i class="bi bi-shield-check"></i>
          </div>
          <h3 class="card-title">Hygienic Food</h3>
          <p class="card-desc">We are passionate about serving fresh, flavorful</p>
        </div>
      </div>

      <!-- 2. Fresh Environment -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-card">
          <div class="card-icon">
            <i class="bi bi-recycle"></i>
          </div>
          <h3 class="card-title">Fresh Environment</h3>
          <p class="card-desc">We are passionate about serving fresh, flavorful</p>
        </div>
      </div>

      <!-- 3. Skilled Chefs -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-card">
          <div class="card-icon">
            <i class="bi bi-people-fill"></i>
          </div>
          <h3 class="card-title">Skilled Chefs</h3>
          <p class="card-desc">We are passionate about serving fresh, flavorful</p>
        </div>
      </div>

      <!-- 4. Event & Party -->
      <div class="col-lg-3 col-md-6">
        <div class="feature-card">
          <div class="card-icon">
            <i class="bi bi-stars"></i>
          </div>
          <h3 class="card-title">Event & Party</h3>
          <p class="card-desc">We are passionate about serving fresh, flavorful</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== why choose us ===== -->

<!-- Menu Section -->
<!-- <section id="menuSec" style="padding-top: 120px; padding-bottom: 100px">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-uppercase text-center fadeInDown">
          <span class="text-warning fw-bolder mb-5"><i class="bi bi-bell-fill"></i> Delicious Menu</span>
          <h3 class="mt-3 sec-heading">
            Explore Our Delicious<br />
            Menu
          </h3>
        </div>
      </div>
    </div>

    <div class="row" id="menu">
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb1.png" class="rounded-circle" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Truffle Mac and Cheese</h4>
              <p>Indulgent mac and cheese with truffle essence.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb2.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Grilled Ribeye Steak</h4>
              <p>Perfectly grilled ribeye steak with savory seasoning.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb3.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Honey-Glazed Salmon</h4>
              <p>Sweet and savory honey-glazed salmon fillet.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb4.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Thai Coconut Curry</h4>
              <p>Fragrant Thai coconut curry with vibrant vegetables.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb5.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Gourmet Mushroom Risotto</h4>
              <p>Rich, creamy risotto with gourmet mushrooms</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb6.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Margarita Shrimp Tacos</h4>
              <p>Zesty shrimp tacos with fresh margarita flavor.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$25.50</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb7.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">BBQ Bacon Burger</h4>
              <p>Juicy burger topped with BBQ sauce and bacon.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$35</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="menu-item p-4">
          <div class="thumb-img">
            <img src="Assets/menu section/menu-thumb8.png" alt="" />
          </div>
          <div class="txt-content">
            <div class="content">
              <h4 class="title">Spicy Tuna Roll</h4>
              <p>Spicy tuna roll with a bold, flavorful kick.</p>
            </div>
            <div>
              <span class="price text-danger fs-5">$39</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Menu Section -->
<section id="menuSec" style="padding-top: 120px; padding-bottom: 100px">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-uppercase text-center fadeInDown">
          <span class="text-warning fw-bolder mb-5">
            <i class="bi bi-bell-fill"></i> Delicious Menu
          </span>
          <h3 class="mt-3 sec-heading">Explore Our Delicious<br />Menu</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngFor="let meal of topMeals">
        <a routerLink="/menu" style="text-decoration: none; color: black">
          <div class="menu-item p-4" style="height: 150px">
            <div class="thumb-img">
              <img
                [src]="meal.image || meal.img"
                [alt]="meal.name"
                class="rounded-circle"
                style="width: 60px; height: 60px; object-fit: cover"
              />
            </div>

            <div class="txt-content mb-3">
              <div class="content">
                <h4 class="title">
                  {{ meal.name }}
                  <span class="text-muted fs-6">
                    <i style="color: gold" class="bi bi-star-fill"></i>
                    {{ meal.rating }}
                  </span>
                </h4>
                <p>{{ meal.short_description }}</p>
              </div>
              <div>
                <span class="price text-danger fs-5">${{ meal.price }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ===== Menu Section ======= -->

<!-- Chefs -->
<section>
  <div class="container text-white py-5">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 mb-5">
        <div class="section-title text-uppercase text-center">
          <span class="team-text"> <i class="bi bi-egg-fried"></i> Our Special Chefs </span>
          <h3 class="sec-heading">
            Introducing Our Culinary <br />
            Masters
          </h3>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chefs card h-100">
          <div class="member-img">
            <img src="Assets/chef section/1.jpg" class="img-fluid" />
          </div>
          <div class="hover-content">
            <div class="social">
              <ul>
                <li>
                  <a href="##"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-twitter"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-linkedin"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-youtube"></i></a>
                </li>
              </ul>
            </div>

            <div class="info">
              <h4>David Liam</h4>
              <span>CEO</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chefs card h-100">
          <div class="member-img">
            <img src="Assets/chef section/2.jpg" class="img-fluid" />
          </div>
          <div class="hover-content">
            <div class="social">
              <ul>
                <li>
                  <a href="##"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-twitter"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-linkedin"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-youtube"></i></a>
                </li>
              </ul>
            </div>
            <div class="info">
              <h4>Alex Mika</h4>
              <span>Executive Chef</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="chefs card h-100">
          <div class="member-img">
            <img src="Assets/chef section/3.jpg" class="img-fluid" />
          </div>
          <div class="hover-content">
            <div class="social">
              <ul>
                <li>
                  <a href="##"><i class="bi bi-facebook"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-twitter"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-linkedin"></i></a>
                </li>
                <li>
                  <a href="##"><i class="bi bi-youtube"></i></a>
                </li>
              </ul>
            </div>
            <div class="info">
              <h4>John Smith</h4>
              <span>Executive Chef</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row -->
  </div>
</section>
<!-- ======== Chefs ======== -->

<!-- Testimonials Section -->
<section
  id="testimonials"
  style="padding-top: 120px; padding-bottom: 100px; background-color: #f7f1e1"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-uppercase text-center fadeInDown">
          <span class="text-warning fw-bolder mb-5"
            ><i class="bi bi-bell-fill"></i> Testimonials</span
          >
          <h3 class="mt-3" style="font-size: 50px; font-weight: 900">Our Guests Are Saying</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div
          id="carouselExampleInterval"
          class="carousel slide py-5"
          data-bs-ride="carousel"
          data-bs-interval="4000"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
              <div class="card p-5">
                <ul class="rating d-flex list-unstyled mb-5 text-warning gap-1">
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                </ul>

                <p class="mb-5">
                  From the moment we walked in, we were impressed by the warm and inviting
                  atmosphere. The food was exceptional—each dish was bursting with fresh, vibrant
                  flavors. The staff was attentive and knowledgeable, making our dining experience.
                </p>
                <div class="author d-flex justify-content-between">
                  <div class="data d-flex gap-4">
                    <div class="author-photo">
                      <img src="Assets/testimonials section/author-1.jpg" alt="" />
                    </div>
                    <div class="author-details">
                      <h5>David Liam</h5>
                      <span>CEO</span>
                    </div>
                  </div>

                  <div
                    class="quote bg-success rounded-circle text-white d-flex justify-content-center align-items-center"
                    style="width: 50px; height: 50px"
                  >
                    <i class="bi bi-quote fs-5"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <div class="card p-5">
                <ul class="rating d-flex list-unstyled mb-5 text-warning gap-1">
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                </ul>

                <p class="mb-5">
                  From the moment we walked in, we were impressed by the warm and inviting
                  atmosphere. The food was exceptional—each dish was bursting with fresh, vibrant
                  flavors. The staff was attentive and knowledgeable, making our dining experience.
                </p>
                <div class="author d-flex justify-content-between">
                  <div class="data d-flex gap-4">
                    <div class="author-photo">
                      <img src="Assets/testimonials section/author-2.jpg" alt="" />
                    </div>
                    <div class="author-details">
                      <h5>David Liam</h5>
                      <span>CEO</span>
                    </div>
                  </div>

                  <div
                    class="quote bg-success rounded-circle text-white d-flex justify-content-center align-items-center"
                    style="width: 50px; height: 50px"
                  >
                    <i class="bi bi-quote fs-5"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <div class="card p-5">
                <ul class="rating d-flex list-unstyled mb-5 text-warning gap-1">
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-fill"></i></li>
                  <li><i class="bi bi-star-half"></i></li>
                </ul>

                <p class="mb-5">
                  From the moment we walked in, we were impressed by the warm and inviting
                  atmosphere. The food was exceptional—each dish was bursting with fresh, vibrant
                  flavors. The staff was attentive and knowledgeable, making our dining experience.
                </p>
                <div class="author d-flex justify-content-between">
                  <div class="data d-flex gap-4">
                    <div class="author-photo">
                      <img src="Assets/testimonials section/author-3.jpg" alt="" />
                    </div>
                    <div class="author-details">
                      <h5>David Liam</h5>
                      <span>CEO</span>
                    </div>
                  </div>

                  <div
                    class="quote bg-success rounded-circle text-white d-flex justify-content-center align-items-center"
                    style="width: 50px; height: 50px"
                  >
                    <i class="bi bi-quote fs-5"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleInterval"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==== Testimonials Section === -->

<app-footer></app-footer>
