<div class="container d-flex justify-content-center align-items-center vh-100">

  <div class="password-card shadow-lg rounded-4" style="max-width: 550px; width: 100%;">

    <div class="password-content">

      <h2 class="fw-bold mb-2">Set a password</h2>

      <p class="text-muted mb-4">
        Your previous password has been reseted.
        Please set a new password for your account.
      </p>

      <form [formGroup]="resetPassForm" (ngSubmit)="resetPassSubmit()">

        <div class="mb-3">
          <input formControlName="newPassword" type="password" class="form-control rounded-2" placeholder="New password"
            [style.border]="resetPassForm.get('password')?.errors && resetPassForm.get('password')?.touched? '1px solid #dc3545' : ''">
          @if(resetPassForm.get('password')?.errors &&resetPassForm.get('password')?.touched){
          @if(resetPassForm.get('password')?.getError('required')){
          <div class="error-text">
            Password is required
          </div>
          }
          @else if (resetPassForm.get('newPassword')?.getError('pattern')) {
          <div class="error-text">
            Password conatains at least 6 characters,1 uppercase,1 lowercase,1 number and 1 special character
          </div>
          }
          }
        </div>

        <div class="mb-3">
          <input formControlName="repeatPassword" type="password" class="form-control rounded-2"
            placeholder="Re-enter new password"
            [style.border]="resetPassForm.get('repeatPassword')?.errors && resetPassForm.get('repeatPassword')?.touched? '1px solid #dc3545' : ''">
          @if(resetPassForm.get('repeatPassword')?.errors &&resetPassForm.get('repeatPassword')?.touched){
          @if(resetPassForm.get('repeatPassword')?.getError('required')){
          <div class="error-text">
            Confirm Password is required
          </div>
          }
          }

          @if(resetPassForm.getError('notMatched')&&resetPassForm.get('repeatPassword')?.touched){
          <div class="error-text">
            The password doesn't match
          </div>
          }
        </div>
        @if(errorMessage()){
        <div class="error-text text-center">
          {{errorMessage()}}
        </div>
        }
        <button class="btn btn-dark w-100" [disabled]="!resetPassForm.valid||isLoading()">
          Set password
          @if(isLoading()){
          <i class=" fa-solid fa-spin fa-spinner"></i>
          }
        </button>

      </form>

    </div>

  </div>

</div>