:host {
  /* position: fixed; */
  inset: 0;
  background-color: var(--bg-color);
  width: 100%;
}

.card {
  min-height: 560px;
  background-color: var(--bg-second-color);
  border: none;
  color: #1a1a1a;
}

.form-control {
  background-color: #fff;
  border: 1px solid var(--form-border-color);
  color: #222;
}

.form-control::placeholder {
  color: #999;
}

.form-control:focus {
  border-color: var(--form-border-focus-color);
  box-shadow: none;
  color: #222;
}

.btn-dark {
  background: black;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.btn-dark:hover {
  background: #222;
}

.text-muted {
  color: #6e6e6e !important;
}

a {
  cursor: pointer;
}

/* .google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.error-text {
  color: #dc3545;
  font-size: 13px;
  margin-top: 5px;
}
