<div class="container d-flex justify-content-center align-items-center vh-100">

  <div class="forgot-card shadow-lg rounded-4 overflow-hidden " style="max-width: 550px; width: 100%;">

    <div class="forgot-content">

      <a routerLink="/login" class="back-link d-inline-block text-danger text-decoration-none mb-3">
        ← Back to login
      </a>

      <h2 class="fw-bold mb-2">Forgot your password?</h2>

      <p class="text-muted mb-4">
        Don't worry, happens to all of us.
        Enter your email below to recover your password
      </p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">

        <div class="mb-4">
          <input formControlName="email" type="email" class="form-control rounded-2" placeholder="Email"
            [style.border]="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched? '1px solid #dc3545' : ''">

          @if(forgotPasswordForm.get('email')?.errors &&forgotPasswordForm.get('email')?.touched){
          @if(forgotPasswordForm.get('email')?.getError('required')){
          <div class="error-text">
            Email is required
          </div>
          }
          @else if (forgotPasswordForm.get('email')?.getError('email')) {
          <div class="error-text">
            email must be valid
          </div>
          }
          }
        </div>

        @if(errorMessage()){
        <div class="error-text text-center">
          {{errorMessage()}}
        </div>
        }
        <button class="btn btn-dark w-100 mt-2" [disabled]="!forgotPasswordForm.valid||isLoading()">
          Submit
          @if(isLoading()){
          <i class=" fa-solid fa-spin fa-spinner"></i>
          }
        </button>

      </form>

    </div>

  </div>

</div>