<section class="py-5" style="background-color: #f7f1e1">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="fw-bold">CHOOSE MENU</h1>
            <p class="fw-bold text-muted">
                Indulge in an array of meticulously crafted sushi rolls, artfully
                blending <br />
                fresh ingredients for a delightful taste experience.
            </p>
        </div>

        <div class="d-flex mx-auto justify-content-center gap-4 pb-5 flex-wrap">
            <button id="Burgers" type="button" class="btn2 px-4 py-2 fw-bold rounded-3 active">
                Burgers
            </button>
            <button id="Pizza" type="button" class="btn2 px-4 py-2 fw-bold rounded-3">
                Pizza
            </button>
            <button id="Beef" type="button" class="btn2 px-4 py-2 fw-bold rounded-3">
                Beef
            </button>
            <button id="Chicken" type="button" class="btn2 px-4 py-2 fw-bold rounded-3">
                Chicken
            </button>
        </div>

        <div class="row g-4" id="menuSection"></div>
    </div>
</section>